body {
    background-color:#A393BF;
    text-align: center;
    border: 5px solid #2F1B25; 
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #648767 !important;
    border-color: #1E1E24;
}

.my-header {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #648767;
    border: 1px solid black;
    height: 100px;
    width: 100%;
    color: white;
}

.col-12 {
    color: white !important;
}

.my-footer {
    background-color: #648767;
    text-align: center;
    color: white;
}

.logo {
    height: 30px;
    width: 30px;
}

.logobig {
    height: 50px;
    width: 50px;
}

.my-right {
    background-color: CA895F;
    text-align: center;
    padding-top: 20px;
}

.row-login {
    background-color: #A393BF;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #BFC0C0;
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #838686;
 }

#deal-table {
    align-items: center;
    justify-content: center;
}

#button-search-clear {
    margin-right: -20px;
}

.btn-info {
    background-color: #648767 !important;
    align-items: center;
    justify-content: center;
    border-color: #1E1E24;
    color: white;
}

.col-4 {
    outline-style: solid;
    outline-color: #1E1E24;
    outline-offset: -1px;
}

h4 {
    text-align: center;
    margin: auto;
    width: 75%;
}

form {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    width: 75%;
    margin: auto;
}