body {
    background-color:#E3D26F;
    text-align: center;
}


.my-header,
.my-footer {
    background-color: #CA895F;
    text-align: center;
    color: white;
}

.my-right {
    background-color: CA895F;
    text-align: center;
    padding-top: 20px;
}

.row-login {
    background-color: #A15E49;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

h4 {
    text-align: center;
    margin: auto;
    width: 75%;
}

form {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    width: 75%;
    margin: auto;
}